<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>NN!</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="form-row align-items-center" style="margin-top: 100px;">
        <div class="col-sm-6 my-1">
          <input v-model="link" type="text" class="form-control" placeholder="http://my-image-url">
        </div>
        <div class="col-auto my-1">
          <button class="btn btn-primary" @click="getCaption()">Что на картинке</button>
        </div>
        <div v-show="showResult">
            <h3>{{ caption }}</h3>
            <img :src="showLink" alt="" style="max-width: 500px; nax-height: 300px;">
        </div>
      </div>
    </div>

    <script>
        let app = new Vue({
          el: '#app',
          data: {
            link: '',
            showLink: '',
            caption: '',
            showResult: false
          },
          watch: {
          },
          methods: {
              getCaption() {
                  axios.get('/test?link=' + this.link).then(res => {
                      this.caption = res.data;
                      this.showLink = this.link;
                      this.showResult = true;
                  })
              }
          }
        })
    </script>
</body>
</html>